@model Vidly.ViewModels.CustomerFormViewModel

@{
    var title = "New Customer";
    if (Model.Customer != null)
    {
        title = "Edit Customer";
    }
}
@{
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership", new { @class = "form-control" })
    </div>
    <div>
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletters) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}